@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html body {
	background-color: lightblue;
	font-size: 14px;
	font-family: calibri;
	}

.welcomeText {
	width: 100%;
	height: 100px;
	background-color: black;
	opacity: 0.3;
	z-index: -100; font-size : 22px; display : flex;
	align-items: center;
	justify-content: center;
	display: flex;
	font-size: 22px;
}

.welcomeText h1 {
	color: white;
	letter-spacing: 2px;
	text-shadow: 0px 0px 2px white;
	z-index: 10;
	opacity: 1;
}

nav {
	padding: 10px;
	background-color: white;
	box-shadow: 2px 2px 2px grey;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
}

li {
	padding: 10px;
	margin: 5px;
	text-decoration: none;
}

li a {
	color: black;
}

.active {
	background-color: white;
	width: 50px;
	padding: 10px;
	color: blue;
	text-decoration: underline;
	padding: 10px;
}

section {
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}

.login_instructions {
	width: 500px;
	height: 230px;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

.login_instructions ul li {
	text-align: center;
	font-size: 18px;
	color: white;
}

.login_instructions ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

.mainTitle {

	width: 500px;
		height: 230px;
	border: 1px solid black;
	background-color:black;
}

.Title {
	height: 30px;
	margin-top: 10px;
	text-align: center;
}
.Title h1{
	color:white;
}

form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form label {
	font-size: 18px;
	padding: 10px;
	color:white;
}

form label::after {
	content: " : ";
}

form input {
	width: 200px;
	height: 30px;
	border: 1px solid black;
	border-radius: 2px;
	margin-top: 20px;
}

.loginbtn button {
	padding: 10px;
	margin-top: 10px;
	background: white;
	color: black;
	border:1px solid black;
	border-radius: 2px;
	width: 80px;
	margin-bottom: 10px;
	cursor:pointer;
}
.changeLogin{
	width:150px;
}
.changeLogin a{
	color:black ;
	text-decoration:none;
	
}