<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>StudentAttendanceApp</display-name>
	<welcome-file-list>
		<welcome-file>Login_Admin_app/Login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login.Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sessionMgmt</servlet-name>
		<servlet-class>Login.sessionMgmt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sessionMgmt</servlet-name>
		<url-pattern>/Login.sessionMgmt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateStudent</servlet-name>
		<servlet-class>checkAttendanceApp.updateStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateStudent</servlet-name>
		<url-pattern>/checkAttendanceApp.updateStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentLogin</servlet-name>
		<servlet-class>StudentLogin.StudentLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentLogin</servlet-name>
		<url-pattern>/StudentLogin.StudentLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fileHandler</servlet-name>
		<servlet-class>fileHandler.fileHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileHandler</servlet-name>
		<url-pattern>/fileHandler.fileHandler</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkAttendanceApp</servlet-name>
		<servlet-class>checkAttendanceApp.checkAttendanceApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkAttendanceApp</servlet-name>
		<url-pattern>/checkAttendanceApp.checkAttendanceApp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>saveAttendance</servlet-name>
		<servlet-class>checkAttendanceApp.saveAttendance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveAttendance</servlet-name>
		<url-pattern>/checkAttendanceApp.saveAttendance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>showAttendance</servlet-name>
		<servlet-class>checkAttendanceApp.showAttendance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showAttendance</servlet-name>
		<url-pattern>/checkAttendanceApp.showAttendance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>markAttendance</servlet-name>
		<servlet-class>checkAttendanceApp.markAttendance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>markAttendance</servlet-name>
		<url-pattern>/checkAttendanceApp.markAttendance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchStudent</servlet-name>
		<servlet-class>manageStudent.searchStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchStudent</servlet-name>
		<url-pattern>/manageStudent.searchStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>people</servlet-name>
		<servlet-class>Persons.people</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>people</servlet-name>
		<url-pattern>/Persons.people</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>createRequest</servlet-name>
		<servlet-class>request.createRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createRequest</servlet-name>
		<url-pattern>/request.createRequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>createNewApp</servlet-name>
		<servlet-class>createNewApp.createNewApp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createNewApp</servlet-name>
		<url-pattern>/createNewApp.createNewApp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>customModules</servlet-name>
		<servlet-class>modules.customModules</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>customModules</servlet-name>
		<url-pattern>/modules.customModules</url-pattern>
	</servlet-mapping>
</web-app>